<footer class="site-footer">
  <div class="footer-wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <ul class="social-footer">
      {% if site.twitter %}
      <li>
        <a href="{{ site.twitter }}" target="_blank"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
      </li>
      {% else %} {% endif %} {% if site.facebook %}
      <li>
        <a href="{{ site.facebook }}" target="_blank"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
      </li>
      {% else %} {% endif %} {% if site.google-plus %}
      <li>
        <a href="{{ site.google-plus }}" target="_blank"
          ><i class="fa fa-google-plus" aria-hidden="true"></i
        ></a>
      </li>
      {% endif %}
    </ul>
  </div>
</footer>
<!-- /.site-footer -->
